<div class="alert alert-block alert-info">
    1. <b>lab 9,10,11,12</b>
</div>

<div class ="alert alert-block alert-info">
1. <b>Data Gathering</b>
</div>

In [2]:
#!pip install pandas
import pandas as pd

<div class ="alert alert-block alert-info">
2. <b>Data Loading</b>
</div>

In [3]:
df=pd.read_csv("car data.csv")
# df=pd.read_json("")
df
print()

<div class ="alert alert-block alert-info">
3. <b>Data exploration</b>
</div>

In [4]:
df.head()
#tells ist 5 rows

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [18]:
df.tail()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
296,city,2016,9.50,11.6,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.9,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.0,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.5,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.9,5464,Petrol,Dealer,Manual,0

In [6]:
df.describe()
# tells numeric value

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [16]:
df.count()

Car_Name         301
Year             301
Selling_Price    301
Present_Price    301
Kms_Driven       301
Fuel_Type        301
Seller_Type      301
Transmission     301
Owner            301
dtype: int64

In [15]:
df['Year'].unique()

array([2014, 2013, 2017, 2011, 2018, 2015, 2016, 2009, 2010, 2012, 2003,
       2008, 2006, 2005, 2004, 2007])

In [14]:
df.nunique()

Car_Name          98
Year              16
Selling_Price    156
Present_Price    147
Kms_Driven       206
Fuel_Type          3
Seller_Type        2
Transmission       2
Owner              3
dtype: int64

In [11]:
df.columns

Index(['Car_Name', 'Year', 'Selling_Price', 'Present_Price', 'Kms_Driven',
       'Fuel_Type', 'Seller_Type', 'Transmission', 'Owner'],
      dtype='object')

In [19]:
for col in df.columns:
    print(col)

Car_Name
Year
Selling_Price
Present_Price
Kms_Driven
Fuel_Type
Seller_Type
Transmission
Owner

In [13]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

<div class="alert alert-block alert-info">
    4. <b>Data Pre-Processing</b>
</div>

<div class="alert alert-block alert-alert">
    4.1. <b>Manage Null Values</b>
</div>

In [20]:

df = df.drop('Year', axis=1)

In [21]:
df=df.drop('Selling_Price', axis=1)

In [24]:
# For Object
def fillnaObjectMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Car_Name','Owner','Transmission','Fuel_Type']
fillnaObjectMode(columns)

In [27]:
# For Int Type
def fillnaIntMode(cols):
    for i in cols:
        df[i] = df[i].fillna(df[i].mode()[0])

columns = ['Car_Name','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']
fillnaIntMode(columns)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Present_Price  301 non-null    float64
 2   Kms_Driven     301 non-null    int64
 3   Fuel_Type      301 non-null    object
 4   Seller_Type    301 non-null    object
 5   Transmission   301 non-null    object
 6   Owner          301 non-null    int64
dtypes: float64(1), int64(2), object(4)
memory usage: 16.6+ KB

<div class="alert alert-block alert-alert">
    4.2. <b>Manage Data Types</b>
</div>

In [32]:
df['Present_Price'] = df['Present_Price'].astype('int64')

In [33]:
# For Float 
def changeFloatToInt(cols):
    for i in cols:
        df[i] = df[i].astype('int64')

columns = ['Present_Price']
changeFloatToInt(columns)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Present_Price  301 non-null    int64
 2   Kms_Driven     301 non-null    int64
 3   Fuel_Type      301 non-null    object
 4   Seller_Type    301 non-null    object
 5   Transmission   301 non-null    object
 6   Owner          301 non-null    int64
dtypes: int64(3), object(4)
memory usage: 16.6+ KB

In [35]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [37]:
def convertObjToInt(cols):
    for i in cols:
        data = pd.DataFrame({i:df[i].unique()})
        data_LE = LabelEncoder()
        data_LE.fit(np.ravel(data)) 
        df[i] = data_LE.transform(df[i])
        
columns = ['Car_Name','Owner','Transmission','Fuel_Type','Seller_Type']
convertObjToInt(columns)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    int64
 1   Present_Price  301 non-null    int64
 2   Kms_Driven     301 non-null    int64
 3   Fuel_Type      301 non-null    int64
 4   Seller_Type    301 non-null    int64
 5   Transmission   301 non-null    int64
 6   Owner          301 non-null    int64
dtypes: int64(7)
memory usage: 16.6 KB

In [39]:
df.head(2)

,Car_Name,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,5,27000,2,0,1,0
1,93,9,43000,1,0,1,0

In [40]:
df.to_csv('processed_data.csv', index=False, header=True)

In [41]:
df = pd.read_csv('processed_data.csv')
df

,Car_Name,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,5,27000,2,0,1,0
1,93,9,43000,1,0,1,0
2,68,9,6900,2,0,1,0
3,96,4,5200,2,0,1,0
4,92,6,42450,1,0,1,0
...,...,...,...,...,...,...,...
296,69,11,33988,1,0,1,0
297,66,5,60000,2,0,1,0
298,69,11,87934,2,0,1,0
299,69,12,9000,1,0,1,0
300,66,5,5464,2,0,1,0

<div class="alert alert-block alert-alert">
    1. <b>Train - Test Splitting</b>
</div>

In [42]:
import pandas as pd
df = pd.read_csv('processed_data.csv')
# df.info()
df.columns

Index(['Car_Name', 'Present_Price', 'Kms_Driven', 'Fuel_Type', 'Seller_Type',
       'Transmission', 'Owner'],
      dtype='object')

In [60]:
X = df.drop('Fuel_Type', axis=1) 
y = df['Fuel_Type']

In [61]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X,y, test_size=0.3, shuffle=False)

In [62]:
print(train_X.shape, train_y.shape)
print(test_X.shape, test_y.shape)

(210, 6) (210,)
(91, 6) (91,)

<div class="alert alert-block alert-alert">
    1. <b> Model Training</b>
</div>

In [63]:
from sklearn.svm import SVC

model_svc = SVC()
model_svc.fit(train_X, train_y)

print(model_svc)

SVC()

In [64]:
model_pred_svc = model_svc.predict(test_X)
model_pred_svc

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2])

In [65]:
from sklearn.metrics import accuracy_score
model_acc_svc = accuracy_score(test_y, model_pred_svc)
print(f"{model_acc_svc * 100:.1f}%")

80.2%

In [49]:
import pickle
pickle.dump(model_svc, open('model_svc.pkl', 'wb'))   #model saved

In [50]:
import pickle
model_svc = pickle.load(open('model_svc.pkl', 'rb'))  # Model Loading